*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.o
*.lo
*.la
*.al
.libs 
*.so 
*.so.[0-9]*
*.a
*.pyc
*.pyo __pycache__ 
*.rej
*~ #*# .#* .*.swp .DS_Store 
target
.classpath
.project
.settings
.svn
.pmd
dependency-reduced-pom.xml
*.pom.xml.releaseBackup
pom.xml.releaseBackup
.metadata
*.metadata
RemoteSystemsTempFiles
*.log
*.jrnl
*.iml
*.idea
test-output

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.gitignore
